


<div class="alltext">

        <div class="title1">
            Hector <br>
        </div>

        <div class="title2">
            Romero <br>
        </div>
             

        <div class="text1">
            Web Designer and 
        </div>
        <div class="text2">
            Software Developer
        </div>
</div>

    <div class="contactme">
        <button routerLink="/contactme" routerLinkActive="router-link-active"  type="button" href="#" class="btn btn-primary btn-lg contactme">CONTACT ME</button>
    </div>